//Colors Scheme
$white: #FFF;
$platinum: #EBEBEB;
$gray: #BABABA;
$dark-salmon:#EE9480;
$melon: #F4BAAE;
$pale-pink: #FADFDA;
$ball-blue: #2AB7CA;
$middle_blue: #77D1DD;
$blue-lagoon: #B1E4EB;
$onyx:#333745;
$spanish-gray:#8f9199;
$lavender-gray: #c7c8cc;
$raising-black: #221d23;
$nickel: #726f73;
$silver-chalice:#aeacaf;

// Font Family

$raleway: 'Raleway', sans-serif;
$open-sans: 'Open Sans',sans-serif;

//Font Sizes

$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;


//Break Points

$breakpoints: (
  'sm': (min-width: 576px),
  'md': (min-width: 768px),
  'lg': (min-width: 992px),
  'xl': (min-width: 1200px),
);